/* Подключил шрифт в проект */
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');



h1 {
    color: rgb(255, 255, 255);
    font-size: 80px; /*размер текста*/
    margin-top: 300px; /*верхний отступ*/
}

h2 {
    font-weight: 700; /* жирность */
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;

}

p {
    font-size: 18px;
}

.col-9 p {
    font-family: Mukta; /* применил подключенный шрифт к проекту */
    font-size: 40px;
}


#header {
    height: 800px; /*высота*/
    width: 100%; /*ширина*/
    background-color: black; /*цвет фона*/
}


#header button {
    margin-top: 40px;
}


#imeg img {
    float: right; /*выравнивание изображения справа*/
    margin-top: 50px;
    height: 300px;
}

#triBlosk {
    background-color: cornflowerblue;
}

