h1{
color: rgb(255, 255, 255);
font-size: 80px;  /*размер текста*/
margin-top: 300px; /*верхний отступ*/
}

h2{
    font-weight: 700; /*жирность*/
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

p{
    font-size: 18px;
}

#header {
    height: 800px; /*высота*/
    width: 100%; /*ширина*/
    background-color: black; /*цвет фона*/
}


#header button {
    margin-top: 40px;
}


/* #content p{
    margin-top: 50px;
} */

#imeg img{
    float: right; /*выравнивание изображения справа*/
    margin-top: 50px;
    height: 300px;
}

#triBlosk{
    background-color: cornflowerblue;
}


/* #content h3{
     
    } */


